services:
  app:
    build: .
    container_name: myip
    ports:
      - "8080:8080"
    environment:
      TYPE: "jsonip"
      REDIS_HOST: redis
    depends_on:
      - redis
    volumes:
      - appdata:/data

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  redisdata:
  appdata:
